.dropdown{
  display: flex;
  justify-content: center;
}

.topic-select{
  width: 50vw;
  height: 5vh;
}

@media screen and (min-width: 600px) {
  .topic-select{
    width: 30vw;
    text-align: center;
    font-size: 3vw;
  }
}