.article-card{
  border: 2px solid black;
  width: 90vw;
  height: 30vh;
}

.article-card-title{
  font-size: 3vw;
}

.article-card-image{
  height: 210px;
  width: 315px;
}

.title-byline{
  width: 315px;
}